/*################## DEFAULT##########*/
nav,
header,
footer {
display: block;
}
body {
    line-height: 1;
    margin: 0;
}
/*################ NAV BAR ###############*/
nav {
    width: 100;
    margin: 0;
}
ul {
    list-style: none;
    margin-right: 0%;
}
nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul.topnav li a {
    display: block;
    min-height: 16px;
    padding: 14px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
li {
    float: left;
}
li.right-nav {
    float: right;
}
li.dropdownIcon {
    display: none;
}

ul.topnav li a:hover {
    background-color: blue;
    color: aquamarine;
    
}
/*########### mobile ##########*/
@media screen and (max-width: 680px ) { ul.topnav li:not(:nth-child(1)) {
    display: none;
}  

ul.topnav li.dropdownIcon {
    display: block;
    float: right;
}
}


