body {
  background-color: cadetblue; 
  text-align: center; 
}
h1, h2 {
    color:blueviolet;
    text-shadow:2px 2px 5px rgb(22, 3, 3);
}
.container { color: antiquewhite;

}
.order{
  background-color: blue; 
  font-size: 20px;
  color: white;
}
.table {
  text-align: center;
}
button{
  border-radius: 50px;
  font-size: 25px;
  padding: 5px;
}